body {
  font-family: Roboto;
  background: #7FFF00;
}

#container {
  height: 80vh;
  width: 60vw;
  margin: 100px auto;
  background: white;
  border-radius: 20px;
}

h1 {
  text-align: center;
  background: #1F030C;
  color: white;
  margin: 0;
  padding: 10px 100px;
  font-size: 18px;
}

form {
  text-align: center;
}

input {
  text-align: center;
  align-items: center;
}
#billamt {
  font-size: 14px;
  background-color: #f7f7f7;
  width: 40%;
}


#peopleamt {
  width: 40%;
  background-color: #f7f7f7;
  font-size: 14px;
}


button {
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: #7FFF00;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: white;
}

button:hover {
  background: #006400;
  border-bottom-color: #111;
}

#totalTip {
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
}

#totalTip:before {
  content: "Tip amount";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

#totalTip sup {
  font-size: 20px;
  top: -18px;
}

#totalTip small {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}
